@use '@/Assets/theme.scss';
@use 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  display: flex;
  justify-content: center;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;

  #app {
    max-width: 800px;
    margin-top: 5rem;
    margin: 1rem;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5 {
    color: var(--color-heading);
  }

  h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-txt-high-contrast);
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.9rem;
    font-optical-sizing: auto;
    font-weight: 400;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 0.25rem;

    &.lead {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: var(--color-txt-high-contrast);
    }

    &.blurb {
      color: var(--color-txt-mid-contrast);
    }
  }

  strong {
    font-weight: 600;
  }

  section {
    background-color: var(--color-section-bg);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;

    > article {
      margin-block: 0;
      gap: 2rem;
    }

    &:has(.blurb) {
      background-color: inherit;
      padding: 0;
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: var(--color-a);
      &:active, &:hover, &:focus {
        color: var(--color-a-hover);
        text-decoration: underline;
      }
    }
  }
}

.dark img {
  filter: brightness(70%);
}
