@use '@/Assets/theme.scss';
@use 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  display: flex;
  justify-content: center;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;

  #app {
    max-width: 800px;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5 {
    color: var(color-heading);
  }

  article {
    // max-width: 35rem;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      letter-spacing: .2rem;
      font-weight: bold;
    }

    p {
      line-height: 1.5rem;
      margin-bottom: 0.25rem;

      &.lead {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }

    a {
      color: var(--color-a);
      &:active, &:hover, &:focus {
        color: var(--color-a-hover);
      }
    }
  }


}
