:root {
  --color-bg: #eee;
  --color-txt: #555;
  --color-txt-high-contrast: #000;
  --color-txt-mid-contrast: #444;
  --color-heading: #222;
  --color-a: #000;
  --color-a-hover: #a2a;
  --color-a-hover-block: #bbb;
  --color-section-bg: #ddd;
  --color-card-bg-gradient: linear-gradient(120deg, #ddd 0%, #ddd 70%, #ddd 100%);
  --color-card-border: linear-gradient(45deg, #ccc 0%, #eee 30%, #ccc 100%);

  .dark {
    --color-bg: #141C29;
    --color-txt: #bbb;
    --color-txt-high-contrast: #fff;
    --color-txt-mid-contrast: #bbb;
    --color-heading: #ddd;
    --color-a: #fff;
    --color-a-hover: pink;
    --color-a-hover-block: rgba(0, 0, 0, .2);
    --color-section-bg: rgba(200,210,220, .9);//#1E2A3D;
    --color-card-bg-gradient: linear-gradient(120deg,rgba(30, 42, 61, .9) 0%, rgba(46, 30, 61, .9) 70%, rgba(30, 42, 61, .9) 100%);
    --color-card-border: linear-gradient(340deg,rgba(30, 42, 61, .6) 0%, rgba(30, 42, 61, 1) 30%, rgba(30, 42, 61, .6) 100%);
  }
}
